.style_select{
    color: white !important;
    margin-left: 20px;
    svg{
        color: white;
    }
    fieldset{
        border-color: white !important;
    }
    [class*="MuiSelect-root MuiSelect-select MuiSelect-selectMenu MuiSelect-outlined MuiInputBase-input MuiOutlinedInput-input"]{
        padding: 12.5px 14px;
    }
}