.history_orders_paper_wrapper{
    margin: 20px 0;
}
.date_block_wrapper{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    button{
        margin: 5px 20px;
    }
}
.prepare_order_title{
    .title{
        font-family: default_header;
        font-weight: 100;
        text-transform: uppercase;
    }
    padding-bottom: 10px;
    width: 100%;
}