.mainPart_container {
    background: #f3f3f3;
}
.mainPart_block_card {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.mainPart_block_img_wrapper {
    display: flex;
    height: 350px;

    // justify-content: center;
    // position: relative;
    // left: 23px;
    img {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        // transition: width 0.5s, left 0.5s, bottom 0.5s, filter 1s, opacity 1s;
        // &:hover {
        //     width: 110%;
        //     left: -5%;
        //     bottom: -3%;
        //     // z-index: 999;
        //     filter: grayscale(0) !important;
        //     // opacity: 0.8;
        //     opacity: 1 !important;
        // }
    }
    // &.mainPart_block_img_wrapper_silver {
    //     img {
    //         filter: grayscale(100%);
    //         opacity: 0.4;
    //     }
    // }
    a {
        width: 100%;
        display: block;
        height: fit-content;
        cursor: pointer;
    }
    & .mainPart_block_img:nth-child(1) {
        min-width: 17%;
        left: 55px;
    }
    & .mainPart_block_img:nth-child(2) {
        min-width: 7%;
        left: 40px;
        z-index: 5;
    }
    & .mainPart_block_img:nth-child(3) {
        min-width: 10%;
        left: 25px;
        z-index: 2;
        img {
            bottom: 15px;
        }
    }
    & .mainPart_block_img:nth-child(4) {
        min-width: 30%;
        bottom: 36px;
        a:nth-child(1) {
            img {
                bottom: 77px;
                z-index: 1;
            }
        }
        // img:nth-child(2) {
        //     bottom: 30px;
        // }
    }
    & .mainPart_block_img:nth-child(5) {
        min-width: 19%;
        right: 83px;
        bottom: 19px;
    }
    & .mainPart_block_img:nth-child(6) {
        right: 137px;
        min-width: 7%;
        z-index: 5;
    }
    & .mainPart_block_img:nth-child(7) {
        min-width: 18%;
        right: 184px;
    }
}
.mainPart_block_img {
    position: relative;
    width: 100px;
    height: 100%;
}

@media screen and (min-width: 769px) {
    .mainPart_block_img_wrapper {
        img {
            transition: width 0.5s, left 0.5s, bottom 0.5s, filter 1s, opacity 1s;
            &:hover {
                width: 110%;
                left: -5%;
                bottom: -3%;
                // z-index: 999;
                filter: grayscale(0) !important;
                // opacity: 0.8;
                opacity: 1 !important;
            }
        }
        &.mainPart_block_img_wrapper_silver {
            img {
                filter: grayscale(100%);
                opacity: 0.4;
            }
        }
    }
}

@media screen and (max-width: 1260px) {
    .mainPart_block_img_wrapper {
        & .mainPart_block_img:nth-child(1) {
            left: 55px;
        }
        & .mainPart_block_img:nth-child(2) {
            left: 40px;
        }
        & .mainPart_block_img:nth-child(3) {
            left: 25px;
        }
        & .mainPart_block_img:nth-child(4) {
            bottom: 36px;
            a:nth-child(1) {
                img {
                    bottom: 6vw;
                }
            }
        }
        & .mainPart_block_img:nth-child(5) {
            right: 6vw;
        }
        & .mainPart_block_img:nth-child(6) {
            right: 10vw;
        }
        & .mainPart_block_img:nth-child(7) {
            right: 13vw;
        }
    }
}
.mainPart_mobile {
    display: none;
}
@media screen and (max-width: 768px) {
    .mainPart_mobile {
        display: flex;
    }
    .mainPart_desktop {
        display: none;
    }
    .mainPart_block_img_wrapper {
        height: 60vw;
        & .mainPart_block_img:nth-child(1) {
            min-width: 33%;
            left: 23vw;
            z-index: 2;
        }
        & .mainPart_block_img:nth-child(2) {
            min-width: 26%;
            left: 16vw;
            z-index: 5;
            bottom: 10vw;
        }
        & .mainPart_block_img:nth-child(3) {
            min-width: 23%;
            left: -55vw;
            z-index: 2;
            bottom: 1vw;
            img {
                bottom: 15px;
            }
        }

        & .mainPart_block_img:nth-child(4) {
            min-width: 50%;
            bottom: 17vw;
            right: 68vw;
            a:nth-child(1) {
                img {
                    bottom: 10vw;
                    z-index: 1;
                }
            }
        }
        & .mainPart_block_img:nth-child(5) {
            min-width: 39%;
            right: 66vw;
            bottom: 10vw;
        }
    }
}
