@import "../../../../helpers/variable.scss";

@include colorPicker;

.desktop_version_table{
    display: table-row;
}
.desktop_version_table_cursor{
    cursor: pointer;
}
.link_style{
    text-decoration: none;
    color: blue;
}
.desktop_version_table{
    td{
        // border-right: 1px solid #e1e1e1;
    }
}
.desktop_version_table_selected{
    background-color: rgba(110, 110, 110, 0.08);
}
.minus_icon{
    color: #ff4f4f;
}
.plus_icon{
    color: green;
}
.block_icon_img{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    svg{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 810px) {
    .desktop_version_table{
        display: none !important;
    }
  }

