.settings_container_wrapper{
    margin: 20px 0;
    padding: 15px 20px;
}
.settings_container_info_block_wrapper{
    display: flex;
    justify-content: flex-end;
}
.settings_container_info_block{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.settings_container_contacts_block_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.settings_button_block{
    align-items: center;
    display: flex;
    justify-content: space-between;
    span{
        margin-right: 10px;
    }
}
.change_password{
    margin: 25px 0;
}
.button_block_management{
    button{
        margin: 5px 20px;
    }
}
.settings_text_block{
    min-height: 60px;
    display: flex;
    align-items: center;
}
.change_password_button_block{
    max-width: 500px;
    margin: auto;
    // height: 100%;
    opacity: 1;
    overflow: hidden;
    animation: blockOn 0.6s linear 1;
}
@keyframes blockOn {
    0%{
      opacity: 0;
      height: 0%;
    }
    100%{
      opacity: 1;
      height: 100%;
    }
  }
  @media screen and (max-width: 500px) {
    .settings_button_block{
        flex-direction: column;
        align-items: flex-start;
    }
  }