.orders_expansion_table_title {
    flex: 1 1 100%;
    font-family: default_header;
    font-weight: 100;
    text-transform: uppercase;
    span {
        font-family: default_header;
        font-weight: 100;
        text-transform: uppercase;
    }
}

.block_filter_all_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.current_block_filter_wrapper {
    margin: 0px 2px 5px 3px;
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    font-size: 13px;
    line-height: 1;
    vertical-align: top;
    cursor: pointer;
    background: #eee;
    border-radius: 2px;
    -o-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
    &:hover {
        background: #ddd;
    }
}
.current_block_filter_top {
    top: 0 !important;
    &::after {
        top: 6px !important;
    }
}
.current_block_filter {
    padding: 4px 20px 4px 10px;
    height: 18px;
    max-width: 200px;
    display: block;
    top: 3px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    &::after {
        content: "×";
        opacity: 0.5;
        position: absolute;
        top: 3px;
        right: 5px;
        font-size: 15px;
        // speak: none;
    }
    &:hover {
        text-decoration: line-through;
    }
}
