.service_container {
    background: #f3f3f3;
    display: flex;
    * {
        font-family: "default_header";
    }
}
.service_block_card {
    h1 {
        overflow: hidden;
        span {
            font-family: "default_header";
            position: relative;
        }
        span::before,
        ::after {
            content: "";
            position: absolute;
            top: calc(50% - (1px / 2));
            width: 2000px;
            border-bottom: 1px solid #e9e9e9;
        }
        span::before {
            right: 100%;
            margin-right: 0.6em;
        }
        span::after {
            left: 100%;
            margin-left: 0.6em;
        }
    }
}
h5{
    font-weight: normal;
}
.service_top_block_wrapper {
    display: flex;
}
.service_top_block_li {
    text-align: start;
}
.service_top_block_li_wrapper {
    h4 {
        font-weight: 300;
        text-align: start;
    }
}
.service_bottom_block_wrapper {
    align-self: center;
}
.service_block_number {
    text-align: center;
    border: 3px solid #969696;
    padding: 10px;
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: #000;
    }
    * {
        font-weight: bolder;
    }
}
.service_block_img_wrapper {
    display: flex;
    justify-content: center;
    .service_block_img:nth-child(1) {
        margin: 20px 50px 20px 0;
    }
    .service_block_img:nth-child(3) {
        margin: 20px 0 20px 50px;
    }
}
.service_block_img_middle {
    width: 230px;
    min-width: 145px;
    img {
        width: 100%;
    }
}
.service_block_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service_img {
    display: flex;
    align-items: center;
    span {
        margin: 0 10px;
        width: 256px;
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
}
.service_block_order_text {
    font-size: 75%;
    margin: 10px 0;
}
.service_block_button {
    height: 48px;
    display: flex;
    justify-content: center;
    button {
        height: 100%;
    }
}
@media screen and (min-width: 769px) {
    .hardware_img_wrapper_banner {
        transition: width 0.5s, left 0.5s;
        &:hover {
            width: 100%;
        }
    }
    .service_block_button {
        button {
            width: 210px;
            top: 0;
            transition: top 0.5s, width 0.5s, height 0.5s;
        }
        button:hover {
            height: 90%;
            width: 200px;
            top: 3px;
        }
    }
}
@media screen and (max-width: 1100px) {
    .service_img {
        span {
            font-size: 1.47vw;
            width: 24.2vw;
        }
        img {
            width: 8vw;
        }
    }
    .service_block_img_wrapper {
        .service_block_img:nth-child(1) {
            margin: 2vw 4vw 2vw 0;
        }
        .service_block_img:nth-child(3) {
            margin: 2vw 0 2vw 4vw;
        }
    }
}
@media screen and (max-width: 1000px) {
    .service_top_block_wrapper {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .service_block_img_middle {
        order: 2;
        position: absolute;
        right: 0;
        width: 33vw;
    }
    .service_block_img_wrapper {
        flex-direction: column;
        position: relative;
        .service_block_img:nth-child(1) {
            margin: 0;
        }
        .service_block_img:nth-child(3) {
            margin: 0;
            .service_img {
                flex-flow: row-reverse;
                justify-content: flex-end;
            }
        }
    }
    .left {
        text-align: right !important;
    }
    .service_img {
        margin: 1vw 0;
        span {
            font-size: 2.3vw;
            width: 44.2vw;
        }
    }
}
@media screen and (max-width: 450px) {
    .service_block_img_middle {
        min-width: auto;
    }
    .service_img {
        margin: 1vw 0;
        span {
            width: 39.2vw;
        }
    }
}
