.software_container {
    background: #0d4da1;
    display: flex;
}
.software_block_card {
    min-height: 500px;
    width: 100%;
    margin-bottom: 30px;
    h1 {
        color: #ffffff;
        // font-size: 256.25%;
        text-shadow: none;
        line-height: 1.4;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        font-weight: 300;
    }
}
.software_slide {
    display: flex;
    justify-content: center;
    * {
        font-family: "default_header";
    }
}
.software_img_container_wrapper {
    width: 60%;
}
.software_img_container {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    .software_current_img {
        width: 210px;
        margin-top: auto;
        img {
            width: 100%;
        }
    }
    & :nth-child(2) {
        margin: 0 20px;
        margin-top: auto;
    }
}
.software_current_text {
    color: #ffffff;

    span {
        font-size: 81.25%;
        text-shadow: none;
        line-height: 1.4;
        font-weight: normal;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        font-weight: 300;
        display: flex;
        flex-direction: column;
    }
}
.software_text_container {
    width: 40%;
    .software_text_img {
        img {
            width: 70%;
            margin: auto;
        }
    }
}
.line_text {
    font-family: "default_header";
    color: #ffffff;
    font-size: 68.75%;
    text-shadow: none;
    line-height: 1.4;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: 300;
}
.top_text {
    color: #ffffff;
    font-size: 156.25%;
    text-shadow: none;
    line-height: 1.4;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: 300;
}
.software_slider_block_wrapper {
    * {
        outline: none;
    }
    [class*="slick-prev"] {
        left: 0;
        z-index: 8;
    }
    [class*="slick-next"] {
        right: 0;
    }
    [class*="slick-next"],
    [class*="slick-prev"] {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 1000px) {
    .software_slide {
        flex-direction: column;
    }
    .software_img_container_wrapper {
        width: 70%;
        margin: auto;
    }
    .software_text_container {
        margin: auto;
        margin-top: 20px;
        width: 50%;
    }
    .top_text {
        text-align: center;
        font-size: 2.6vw;
    }
    .software_img_container {
        min-height: 223px;
    }
}
@media screen and (max-width: 769px) {
    .software_img_container_wrapper {
        width: 100%;
    }
    .software_text_img {
        display: none;
    }
    .software_text_container {
        width: 100%;
    }
    .software_slider_block_wrapper {
        [class*="slick-prev"],
        [class*="slick-next"] {
            top: -7%;
        }
    }
}
@media screen and (max-width: 550px) {
    .software_current_text {
        span {
            font-size: 2.35vw;
        }
        h2 {
            font-size: 4.4vw;
        }
    }
    .software_block_card {
        min-height: auto;
    }
    .software_img_container {
        & :nth-child(2) {
            img {
                top: 10px;
                position: relative;
            }
        }
    }
    .software_img_container {
        min-height: auto;
    }
}
[class*="slick-dots"] {
    li {
        margin: 0;
        button::before {
            color: white !important;
        }
    }
}
@media screen and (min-width: 769px) {
    [class*="slick-dots"] {
        display: none !important;
    }
}
