.hardware_container {
    background: #fff;
}
.hardware_block_card {
    display: flex;
    height: 100%;
    flex-direction: column;
    h1 {
        overflow: hidden;
        span {
            font-family: "default_header";
            position: relative;
        }
        span::before,
        ::after {
            content: "";
            position: absolute;
            top: calc(50% - (1px / 2));
            width: 2000px;
            border-bottom: 1px solid #e9e9e9;
        }
        span::before {
            right: 100%;
            margin-right: 0.6em;
        }
        span::after {
            left: 100%;
            margin-left: 0.6em;
        }
    }
}
.hardware_current_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    width: 320px;
    // height: 500px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.2) 1px 0px 5px, rgba(0, 0, 0, 0.2) -1px 0px;
    .hardware_slider_block_title {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        span {
            font-size: 23px;
            font-weight: 700;
            font-family: "Open Sans";
        }
    }
}
.hardware_current_block {
    * {
        outline: none;
    }
    [class*="slick-arrow"] {
        &::before {
            color: #534c5c;
        }
    }
    [class*="slick-prev"] {
        left: 0;
        z-index: 8;
    }
    [class*="slick-next"] {
        right: 0;
    }
    [class*="slick-next"],
    [class*="slick-prev"] {
        height: 100%;
        width: 40px;
        transition: background 0.5s;
        &:hover {
            background: #c0c0c04b;
        }
    }
    [class*="slick-next"] {
        border-radius: 3px 10px 3px 3px;
    }
    [class*="slick-prev"] {
        border-radius: 10px 3px 3px 3px;
    }
    [class*="slick-dots"] {
        bottom: 0;
    }
}
.hardware_slide {
    // background: red;
    // height: 400px;
    // *{
    //     font-family: 'Open Sans';
    // }
    .hardware_title_slide {
        font-size: 33px;
        // white-space: nowrap;
        height: 45px;
        * {
            font-family: "default_header";
            font-weight: 300;
        }
    }
}
.hardware_button_block {
    margin: 10px 0;
    height: 100%;
    display: flex;
    justify-content: space-around;
    max-height: 45px;
    .button_wrapper {
        width: 150px;
        height: 51px;
        button {
            width: 100%;
            height: 51px;
            border-radius: 8px;
            top: 0;
        }
    }
    .button_one_wrapper {
        width: 300px;
    }
}
.hardware_img_container_wrapper {
    height: 260px;
    text-align: center;
    display: flex;
    width: 260px;
    margin: auto;
    a {
        align-self: center;
    }
    .hardware_img_wrapper_banner {
        width: 90%;
        margin: auto;
        position: relative;
    }
}
.hardware_price {
    color: #ca2a38;
    font-size: 42px;
    font-family: "default_header";
    font-weight: 300;
}
.hardware_slider_block_wrapper {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
    .hardware_img_wrapper_banner {
        transition: width 0.5s, left 0.5s;
        &:hover {
            width: 100%;
        }
    }
    .button_one_wrapper {
        width: 300px;
        button {
            &:hover {
                width: 290px !important;
            }
        }
    }
    .button_wrapper {
        button {
            transition: height 0.4s, top 0.4s, width 0.4s;
            &:hover {
                height: 45px;
                top: 2px;
                width: 145px;
            }
        }
    }
    .hardware_current_block {
        [class*="slick-next"],
        [class*="slick-prev"] {
            transition: background 0.5s;
            &:hover {
                background: #c0c0c04b;
            }
        }
    }
}
