.info_container_wrapper {
    padding: 10px 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    // flex-direction: row-reverse;
}
.org_short_name {
    display: flex;
    // align-items: flex-end;
    // height: 100%;
}
.info_settings_link {
    position: absolute;
    right: 10px;
    top: 14px;
    .info_settings {
        color: #787878;
        cursor: pointer;
        &:hover {
            transition: color 1s;
            transition-property: color;
            color: black;
        }
    }
}

.info_item_content {
    margin: 5px 10px;
    div {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
    span {
        font-weight: bold;
        font-size: 25px;
    }
}
.info_item_content_home {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    margin: 5px 10px;
    padding-right: 25px;
    div {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
    span {
        font-weight: bold;
        font-size: 25px;
    }
}
.info_item_color {
    color: silver;
}
@media screen and (max-width: 510px) {
    .info_item_content {
        font-size: 3.3vw;
        span {
            font-size: 5vw;
        }
    }
    .info_item_content_home {
        font-size: 3.3vw;
        span {
            font-size: 5vw;
        }
    }
}
