.faq_container {
    background: #fff;
    display: flex;
}
.faq_block_card {
    h1 {
        overflow: hidden;
        span {
            font-family: "default_header";
            position: relative;
        }
        span::before,
        ::after {
            content: "";
            position: absolute;
            top: calc(50% - (1px / 2));
            width: 2000px;
            border-bottom: 1px solid #e9e9e9;
        }
        span::before {
            right: 100%;
            margin-right: 0.6em;
        }
        span::after {
            left: 100%;
            margin-left: 0.6em;
        }
    }
}
.faq_block_faq_wrapper {
    display: flex;
    margin-bottom: 40px;
}
.faq_block_faq_panel_summary {
    width: 70%;
    * {
        font-family: "default_header";
    }
}
.faq_block_img {
    width: 30%;
    img {
        width: 100%;
    }
}
.faq_title_style {
    width: 100%;
    position: relative;
    display: flex;
    cursor: pointer;
}
.faq_title_style_cur {
    height: 45px;
    display: flex;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
}
.faq_block_description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    li {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.6;
    }
    a {
        color: #000000;
        text-decoration: underline;
    }
    .img_block {
        text-align: center;
    }
}
.faq_text_block {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    a {
        color: #000000;
        text-decoration: underline;
    }
}
.faq_text_block_red {
    color: #de3e3e;
    font-style: italic;
}
@media screen and (max-width: 850px) {
    .faq_block_faq_wrapper {
        flex-direction: column;
        align-items: center;
    }
    .faq_block_faq_panel_summary {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .faq_title_style_cur {
        font-size: 2.7vw;
        height: 8vw;
    }
    .faq_title_style {
        tr {
            top: 1vw;
        }
    }
    .img_block {
        img {
            width: 100%;
        }
    }
}
@media screen and (max-width: 500px) {
    .faq_title_style {
        tr {
            top: 0;
        }
    }
}
@media screen and (max-width: 400px) {
    .faq_title_style {
        tr {
            top: -3px;
            right: -8px;
        }
    }
}
