.prepare_order_title{
    flex: 1 1 100%;
}
.prepare_order_container{
    width: 100%;
}
.prepare_order_paper{
    margin-bottom: 16px;
    padding-bottom: 20px;
}
.switch_style_active{
    [class*='Mui-checked']{
        color: #fd3030 !important;
    }
    [class*='Mui-disabled']{
        color: #e0e0e0 !important;
    }
    [class*='MuiSwitch-track']{
        background-color: #f50000 !important;
    }
}
.button_wrapper{
    margin-left: 10px;
}
.hint_and_switch_wrapper{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 810px) {
      .head_visable{
          display: none !important;
      }
  }