.table_row_disable{
    background: rgba(110, 110, 110, 0.08);;
}
.table_error{
    color: #c90011;
    margin-right: 5px;
    text-transform: uppercase;
}
.desktop_version_table_error{
    color: silver;
    cursor: no-drop !important;
}
.prepare_order_container{
    width: 100%;
    position: relative;
}
.prepare_order_paper{
    width: '100%';
    margin-bottom: 16px;
}
.prepare_order_title{
    font-family: default_header;
        font-weight: 100;
        text-transform: uppercase;
    flex: 1 1 100%;
}
.prepare_order_table{
    min-width: 750px;
}
.prepare_order_date_block{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    button{
        margin: 0 7px;
    }
}
.switch_style_active{
    [class*='Mui-checked']{
        color: #fd3030 !important;
    }
    [class*='Mui-disabled']{
        color: #e0e0e0 !important;
    }
    [class*='MuiSwitch-track']{
        background-color: #f50000 !important;
    }
}
.desktop_version_table{
    display: table-cell;
    cursor: pointer;
}
.mobile_version_table{
    display: none !important;
}
.switch_style_active{
    color: red !important;
}
@media screen and (max-width: 880px) {
    .desktop_version_table{
        display: none !important;
    }
    .mobile_version_table{
        display: block !important;
    }
    .prepare_order_table{
        min-width: auto;
    }
    .mobile_version_table_border{
        border-top: 1px solid rgba(224, 224, 224, 1);
    }
  }
  @media screen and (max-width: 415px) {
    .prepare_order_date_block{
        font-size: 3.9vw;
    }
  }
