.head_table_checkbox{
    display: none !important;
}
.head_table_row_align{
    text-align: center !important;
    border-top: 1px solid #e1e1e1;
    white-space: nowrap;
}

@media only screen and (max-width: 600px) {
    .head_table_row_align{
        display: none !important;
    }
    .head_table_checkbox{
        display: block !important;
    }
  }