.orders_expansion_panel{
    min-height: 0 !important;
    height: 0;
}

.orders_expansion_paper_wrapper{
    margin-bottom: 16px;
    margin-top: 20px;
}
.reset_filter{
    cursor: pointer;
}
.orders_expansion_table_min{
    td{
        border: 1px solid rgba(224, 224, 224, 1);
    }
}