.collapse_button {
    position: absolute !important;
	right: 0;
	top: 6px;
    transition: background-color 0.5s, color 0.5ms;
    border-radius: 50px;
    color: #cacaca;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 7;
	&:hover {
		background-color: #cacaca;
		color: #ffffff;
	}
	&::before {
		content: "";
		position: absolute;
		left: -10px;
		right: -10px;
		top: -10px;
		bottom: -10px;
	}
	div {
		transition: transform 200ms, left 200ms;
		position: absolute;
		top: 14px;
		left: 8px;
		background-color: currentColor;
		width: 14px;
		height: 2px;
	}
	td {
		padding: inherit;
		border: 0;
	}
}
.collapse_button_active {
	div:first-child {
		transform: rotate(-180deg);
	}
	div:last-child {
		transform: rotate(90deg);
	}
	div {
		width: 15px;
	}
}

