@import "../../helpers/variable.scss";

.faq_container {
  h1 {
    font-family: default_header;
    font-weight: 100;
  }
  margin-bottom: 20px;
}
.faq_text_block {
  text-align: start;
  margin: 0 0 20px 0;
}
.faq_text_bold {
  font-weight: bold;
}
.faq_detalis {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  flex-direction: column;
}
.title_style {
  font-family: "default" !important;
}
