.banner_container_wrapper {
  margin: 20px 0 30px;
  // border: 2px solid #d8d8d8;
  // border-radius: 5px;
  // box-shadow: 0 3px 12px rgba(0, 0, 0, 0.07);
  // background: white;
  position: relative;
  [class*="slick-arrow"] {
    &::before {
      color: #534c5c;
    }
  }
}
.banner_container{
  width: 95%;
  margin: auto;
}
.container_wrapper {
  display: flex;
  justify-content: center;
  margin: 10px;
  text-decoration: none;
}
.img_wrapper_banner {
  width: 100%;
}
.contet_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  p {
    display: flex;
    flex-direction: column;
    span {
      color: #ca2a38;
      font-size: 25px;
    }
  }
}
.img_wrapper {
  background: white;
  width: 40%;
}
@media screen and (max-width: 700px) {
  .contet_wrapper {
    p {
      span {
        color: #ca2a38;
        font-size: 3.5vw;
      }
    }
  }
}
